body{
    font-size: 10px;
    color: black;
    background-color: rgb(16, 75, 75);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}
#intro{
    display: flex;
    margin-top: 15px;
    justify-content: space-around;
    height: 50px;

}
a{
    text-decoration: none;
    color: rgb(21, 170, 21);
}
li{
    list-style: none;
    text-align: start;
    font-size: 17px;
    margin-left: 70px;
}
img{
    width: 170px;
    height: 170px;
    border: 2px solid rebeccapurple;
    border-radius: 20px;
}
span{
    color: rgb(224, 33, 33);
}
h2{
    color: rgb(92, 19, 160);
    margin-left: 40px;
    margin: 20px;
    font-size: 15px;
}
#container-home{
    text-align: center;
    padding: 25px;
    margin: auto;
    width: 700px;
    height: 300px;
    background-color: white;
    border: 2px solid rgb(0, 0, 0);
}
h4{
    text-align: center;
    margin-top: 0px;
}
#personal-info{
    margin-top: 35px;
    display: flex;
    justify-content: space-around;
    height: 200px;
    /* border: 2px solid red; */
}
p{
    margin: auto 20px;
    font-size: 18px;
    color: rgb(109, 73, 142);
    text-shadow: 0px 0px  black ;
    line-height: 23px;
}
h1{
    margin-left: 2px;
    margin-top: 0px;
}
h4{
    margin-top: 7px;
    font-size: 17px;
}
nav{
    display: flex;
    justify-content: center;
    padding: 0px;
    width: 750px;
    height: 40px;
    line-height: 40px;
    list-style-type: none;
    font-size: 13px;
    margin: auto;
    font-weight: bolder;
    background-color: white;
    border: 2px solid rgb(0, 0, 0);
}
#about{
    text-align: center;
    padding: 25px;
    margin: auto;
    width: 700px;
    height: 300px;
    background-color: white;
    border: 2px solid rgb(0, 0, 0);
}
#education{
    color: brown;
    text-align: start;
}
#projects{
    display: block;
    text-align: center;
    padding: 25px;
    margin: 10px;
    margin-left: -27px;
    margin-top: -11px;
    width: 700px;
    height: 300px;
    background-color: white;
    border: 2px solid rgb(0, 0, 0);
    line-height: 50px;
    
}
#cerifications{
    display: block;
    text-align: center;
    padding: 25px;
    margin: 10px;
    margin-left: -27px;
    width: 700px;
    height: 300px;
    background-color: white;
    border: 2px solid rgb(0, 0, 0);
    line-height: 50px;
}
#skills{
    display: block;
    text-align: center;
    padding: 25px;
    margin: 10px;
    margin-top: -11px;
    margin-left: -27px;
    width: 700px;
    height: 300px;
    background-color: white;
    border: 2px solid rgb(0, 0, 0);
    line-height: 30px;
}
