body{
    font-family: URW Chancery L, cursive;
    background: #031321;
    color: greenyellow;
    width: auto;
    text-align: center;
    line-height: 30px;
}
h1{
    font-size: 35px;

}
a{
    text-decoration: none;
    color: #2196f3;
    padding: 10px;
}
a:hover{
    text-shadow: 1px 1px 10px greenyellow;
    color: greenyellow;
    padding: 10px;
    text-decoration: overline;
}
img:hover{
    text-shadow: 0px 0px 20px greenyellow;
}
li{
    color: #e3c13b;
    text-decoration: none;
    list-style:none;

}
#nav{
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}
#container-home{
    display: flex;
    justify-content: space-around;
    width: auto;
}
#container-home:active{
    box-shadow: 0px 0px 10px greenyellow;
    border-radius: 10px;
}
#container-about{
    padding: 10px;
}
#container-about:hover{
    box-shadow: 0px 0px 10px greenyellow;
    border-radius: 10px;
}
#certifications{
    padding: 10px;
}
#certifications:hover{
    box-shadow: 0px 0px 10px greenyellow;
    border-radius: 10px;
    padding: 10px;
}
#skills{
    padding: 10px;
}
#skills:hover{
    box-shadow: 0px 0px 10px greenyellow;
    border-radius: 10px;
}
#projects{
    padding: 10px;
}
#projects:hover{
    box-shadow: 0px 0px 10px greenyellow;
    border-radius: 10px;
}
#contact{
    padding: 10px;
}
#contact:hover{
    box-shadow: 0px 0px 10px greenyellow;
    border-radius: 10px;
}

img{
    margin-top: 15px;
    width: 150px;
    border-radius: 20px;
}
div{
    margin: 5px;
}
