body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: #031321;
    color: rgb(14, 235, 150);
    width: auto;
    text-align: center;
    line-height: 30px;
    width: 400px;
    margin: 0 auto;
}
h1{
    font-size: 35px;

}
a{
    text-decoration: none;
    color: #58a1f5;
    padding: 10px;
    text-decoration:double;
}
a:hover{
    text-shadow: 1px 1px 10px greenyellow;
    color: greenyellow;
    padding: 10px;
    text-decoration: overline;
}
li{
    color: #e3c13b;
    text-decoration: none;
    list-style:none;
    line-height: 40px;
    text-align:start;
    font-size: 15px;
}
#nav{
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}
#container-home{
    display: flex;
    justify-content: space-around;
    width: 400px;
    margin: 0 auto;
}
#container-home:active{
    box-shadow: 0px 0px 10px greenyellow;
    border-radius: 10px;
}
#container-about{
    padding: 10px;
}
#container-about:active{
    box-shadow: 0px 0px 10px greenyellow;
    border-radius: 10px;
}
#certifications{
    padding: 10px;
}
#certifications:active{
    box-shadow: 0px 0px 10px greenyellow;
    border-radius: 10px;
    padding: 10px;
}
#certifications li, #skills li ,#projects li{
    list-style: circle;
}
#skills{
    padding: 10px;
}
#skills:active{
    box-shadow: 0px 0px 10px greenyellow;
    border-radius: 10px;
}
#projects{
    padding: 10px;
}
#projects:active{
    box-shadow: 0px 0px 10px greenyellow;
    border-radius: 10px;
}
#contact{
    padding: 10px;
}
#contact:active{
    box-shadow: 0px 0px 10px greenyellow;
    border-radius: 10px;
}
span{
    color: rgb(253, 53, 53);
    font-weight: bolder;
}

img{
    margin-top: 15px;
    width: 150px;
    border-radius: 20px;
}
div{
    margin: 5px;
}
p{
    color: #e3c13b;
}
.skill-cont{
    display: flex;
    justify-content: space-between;
}